html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #f5f5f5;
    color: #333;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 20px;
    padding-top: 10%;
    padding-bottom: 8%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #8e24aa;
    color: #fdfbfd;
    margin-bottom: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.header span {
    font-size: 30px;
}

#arrow-back {
    margin-left: 15px;
}

#default-icon {
    font-size: 60px;
}

#more-vert {
    margin-left: 10px;
    justify-items: flex-end;
}
.interlocutor {
    display: flex;
    align-items: center;
    gap: 25px;
    padding-bottom: 10px;
}

.info-interlocutor {
    display: flex;
    flex-direction: column;
}

.name-interlocutor {
    margin: 15px 0;
}

.header .time-interlocutor {
    color: #d0a6dc;
    font-size: 17px;
}

.symbols {
    margin-right: 10px;
}

.form {
    margin: 10px 0;
    width: 100%;
    display: inline-block;
    border: 1px solid rgba(25, 25, 25, 0.32);
}

.message {
    border-radius: 4px;
    padding: 10px 4px;
    background-color: white;
    display: flex;
}

input[type=submit] {
    visibility: collapse;
}

input {
    border: 0;
    outline: none;
    width: calc(100% - 2px);
}

.form-input {
    background: white;
}

.attachment {
    margin-right: 10px;
}

#list-message {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.message-item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 3px;
    background-color: #f3e5f5;
    color: #222022;
    padding: 5px 10px;
    margin: 3px;
    border-radius: 10px;
    align-self: flex-end;
}

.message-interlocutor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 10px;
}

.message-interlocutor .message-timestamp{
    align-self: flex-end;
}

.message-item-interlocutor {
    display: flex;
    flex-direction: column;
    gap: 3px;
    background-color: #ffffff;
    color: #222022;
    padding: 5px 10px;
    margin: 3px;
    border-radius: 10px;
    align-self: flex-start;
}

.message-author {
    font-weight: bold;
}

.message-text {
    font-size: 16px;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
}

.message-timestamp {
    color: #888;
    font-size: 10px;
    margin-top: 5px;
    position: relative;
    align-self: flex-end;
}

.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24

}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

