.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #8e24aa;
    color: #fdfbfd;
    margin-bottom: 10px;
}

.header span {
    font-size: 24px;
}